@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

.registerPage input {
    background-color: aliceblue;
}

.registerPage form {
    display: inline-grid;
}

.registerPage label {
    margin: 10px;
    display: flex;
}

.registerPage #error {
    background-color: #F71735;
}

.registerPage {
    background-color: #3f51b5;
    padding: 30px;
    margin-top: 20px;
    color: white;
    font-family: 'Abel', sans-serif;
    font-size:22px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.registerPage p {
    margin:0;
    margin-top:5px
}